---
import { Icon } from "astro-icon";
export interface Props {
  platform: string;
  url: string;
}

const { platform, url } = Astro.props;

const iconPack = platform === "email" ? "mdi" : "cib";
---

<li class="item">
  <a href={url} title={platform} class="link">
    <Icon pack={iconPack} name={platform} className="icon" />
    <span class="visually-hidden">{platform}</span>
  </a>
</li>

<style>
  .item {
    display: flex;
    padding: 0;
  }
  .link {
    transition: 0.3s ease-in-out all;
  }
  .link:is(:hover, :focus) {
    color: var(--linkColorHover);
    transform: scale(1.4);
  }

  .icon {
    color: currentColor;
    height: 1.5rem;
    width: 1.5rem;
  }
</style>
